<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>DelDichoAlHecho - Pronto</title>
  <meta name="description" content="DelDichoAlHecho - Pronto">
  <meta name="author" content="SitePoint">


  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body style="background-color:#F64B57;margin-left:auto;margin-right:auto;">
  <div style="margin-left:auto;margin-right:auto;">
    
  {{ content }}
  </div>
</body>
</html>
